.bcground{
    position: relative;
    /* background-image: url("") !important;  */
    height: 75vh !important;
    width: 100vw !important; 
    background-size: cover !important;
    background-repeat: no-repeat, repeat;
}
.hr-main{
    border: 2px solid orangered;
}
