*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif !important;
}
.b-text{
    font-weight: bold;
}
.color-t{
    color: orangered;
}
.font-text{
    font-size: 100px;
}
/* .main{
    margin-top: 7%;
} */
.line-space{
    line-height: 1px;
}
.bc-btn {
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
}
.bc-btn:hover{
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
}
.lern{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
    font-size: larger;
}
.text-center{
    text-align: center;
}
.img-leader{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* soation */
.main-heading{
    /* z-index: 3; */
    position: absolute;
    width: 100vw;
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 5px;
    top: 81%;
    /* margin-top: 20%; */
}
.heading{
    font-size: 65px !important;
    text-align: center;
    color: black;
}

