.main-footer{
    background-color: lightgray;
    width: 100vw !important;
}
.footer-section{
    text-align: center;
    color: black;
    font-size: xx-large;
}
.icon{
    color: orangered;
}
.items{
    margin-top: 7px;
    display: flex;
    gap: 26%;
}
.bi-cloud-arrow-down-fill{
    color: orangered;
    /* padding: 4px; */  
}