.navbar{
    /* position:fixed !important; */
    /* overflow: hidden !important; */
    /* top: 0px !important; */
    background-color: white;
    width: 100vw;
    /* bottom: 4%; */
    /* margin-bottom: 20%; */
}
.main-nav{
    margin-left: 4%;
}
.bi-icon{
    padding: 35px !important;
    color: black;
    font-weight: bold; 
}

.a:hover{
    color: orangered !important;
    margin-top: 1px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  /* text-decoration-style: solid; */
}
.modal{
    margin-top: 4%;
}


